In [4]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/distance.csv", index_col=0)
df

               1     2     3     4     5
city_index
1           1000    20    20    50    40
2             30  1000    10    30    20
3             20    10  1000    30    20
4             50    30    20  1000    10
5             40    20    20    10  1000

In [6]:
np.array(df)

array([[1000,   20,   20,   50,   40],
       [  30, 1000,   10,   30,   20],
       [  20,   10, 1000,   30,   20],
       [  50,   30,   20, 1000,   10],
       [  40,   20,   20,   10, 1000]])